
<div class="password-reset-container">
  <mat-card class="password-reset-card">
    <mat-card-header>
      <mat-card-title><p style="font-size: larger; color:rgb(1, 90, 1)">Change Your Password</p></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-stepper linear #stepper class="password-reset-stepper">
        <mat-step [completed]="passwordForm.valid">
          <form [formGroup]="passwordForm">
            <ng-template matStepLabel>New Password</ng-template>

            <mat-form-field appearance="outline">
              <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
              <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">Password must be at least 8 characters</mat-error>
            </mat-form-field>

            <div class="buttons">
              <button mat-raised-button color="primary" matStepperNext (click)="nextStep(stepper)">Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [completed]="confirmPasswordForm.valid">
          <form [formGroup]="confirmPasswordForm">
            <ng-template matStepLabel>Confirm Password</ng-template>

            <mat-form-field appearance="outline">
              <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
              <mat-error *ngIf="confirmPasswordForm.get('confirmPassword')?.hasError('required')">Password confirmation is required</mat-error>
              <mat-error *ngIf="confirmPasswordForm.hasError('passwordsDontMatch')">Passwords do not match</mat-error>
            </mat-form-field>

            <div class="buttons">
              <button mat-button matStepperPrevious (click)="previousStep(stepper)">Previous</button>
              <button mat-raised-button color="primary" matStepperNext (click)="nextStep(stepper)">Confirm</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Completed</ng-template>
          <div class="completed-animation">
            <svg viewBox="0 0 100 100">
              <path d="M20 50 L40 70 L80 30" fill="none" stroke="green" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" class="checkmark"></path>
            </svg>
            <p>Password reset process completed.</p>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-card-content>
  </mat-card>
</div>
<app-message></app-message>
