
<!-- Spinner End -->

<!-- Topbar Start -->
<div class="container-fluid bg-c px-5 d-none d-lg-block">
    <div class="row gx-0 align-items-center" style="height: 45px;">
        <div class="col-lg-8 text-center text-lg-start mb-lg-0">
            <div class="d-flex flex-wrap">
                <a href="#" class="text-light me-4"><i class="fas fa-map-marker-alt text-primary me-2"></i>651N N Broad St, Middletown, DE 19709, USA</a>
                <a href="#" class="text-light me-4"><i class="fas fa-phone-alt text-primary me-2"></i>+1 (597) 373-2177</a>
                <a href="#" class="text-light"><i class="fas fa-envelope text-primary me-2"></i>contact@doctorsina.net</a>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-flex align-items-center justify-content-end">
                <a href="#" class="btn btn-light btn-square border rounded-circle me-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="btn btn-light btn-square border rounded-circle me-3"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn btn-light btn-square border rounded-circle me-3"><i class="fab fa-instagram"></i></a>
                <a href="#" class="btn btn-light btn-square border rounded-circle me-3"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="btn btn-light btn-square border rounded-circle"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-3 px-lg-5 py-3 py-lg-0 fixed-top">
        <a href="index.html" class="navbar-brand d-flex align-items-center p-0">
            <span class="ms-2 fs-4 fw-bold text-primary">DoctorSina</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars text-primary"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 gap-2 text-center text-lg-start">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="about.html" class="nav-item nav-link">About</a>
                <a href="service.html" class="nav-item nav-link">Services</a>
                <a href="team.html" class="nav-item nav-link">Our Team</a>
                <a href="partners.html" class="nav-item nav-link">Our Partners</a>
                <a href="contact.html" class="nav-item nav-link">Contact Us</a>
                <a href="privacy.html" class="nav-item nav-link">Privacy</a>
                <a href="download.html" class="nav-item nav-link"><i class="fas fa-download me-1"></i>Download App</a>
<a [routerLink]="['/login']" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </nav>
</div>